.section-title {
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(var(--gradient));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-size: 1.75em;
    width: 100%;
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.main-section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.painel-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.painel-options a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin: 0 20px;
    padding: 30px;
    background-color: #0A4769;
    color: #fff;
    text-decoration: none;
}

.painel-options img {
    width: 100px;
    height: 100px;
    margin: 15px
}

.navigation-options {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 40px 0;
}

.navigation-options a{
    border-radius: 25px;
    padding: 10px;
    background-color: #0A4769;
    color: #fff;
    margin: 0 30px;
    text-decoration: none;
}

.navigation-options a:hover {
    background-color: #0c6493;
}